.banner {
    background: @color-black;
    color     : #ffffff;

    &__inner {

        @media screen and (max-width: 670px) {
            padding: 0 55px;
        }
    }

    &__row {
        justify-content: center;
    }

    &__container {
        padding        : 20px 0;
        min-height     : 389px;
        display        : flex;
        flex-direction : column;
        justify-content: center;

        @media screen and (max-width: 960px) {
            min-height: 300px;
        }

        @media screen and (max-width: 670px) {
            padding   : 10px 0;
            min-height: 389px;
        }
    }

    &__title {
        text-align: center;

        @media screen and (max-width: 960px) {
            font-size: 34px;
        }
    }

    &__btns-block {
        text-align : center;
        padding-top: 40px;
    }

    &__btn {
        @media screen and (max-width: 670px) {
            width        : 100%;
            padding-left : 20px;
            padding-right: 20px;
        }
    }
}

.banner--for-partners {
    .banner__title {
        text-align: left;

        @media screen and (min-width: 961px) {
            font-weight: 400;
        }

        @media screen and (max-width: 960px) {
            text-align: center;
        }

        @media screen and (max-width: 670px) {
            text-align: left;
        }
    }

    .banner__btn {
        @media screen and (min-width: 961px) {
            padding-left : 80px;
            padding-right: 80px;
        }
    }
}

.banner--special-request {
    .banner__title {
        @media screen and (max-width: 670px) {
            text-align: left;
        }
    }
}

.banner--other-products {
    .banner__inner {
        @media screen and (max-width: 960px) {
            padding: 0 80px;
        }
        @media screen and (max-width: 670px) {
            padding: 0 20px;
        }
    }
    .banner__container {
        padding: 119px 0 104px;

        @media screen and (max-width: 960px) {
            padding: 70px 0 40px;
        }
    }
    .types-products__list-block {
        padding-top: 88px;

        @media screen and (max-width: 960px) {
            padding-top: 41px;
        }
        @media screen and (max-width: 670px) {
            padding-top: 60px;
        }
    }
    .types-products__row {
        justify-content: center;
    }
}

.banner--our-people {
    .banner__title {
        @media screen and (max-width: 670px) {
            text-align: left;
        }
    }
}